{% extends 'layouts/layout.html.twig' %}

{% block title %}Client{% endblock %}

{% block content %}
<div class="fixMenu">
    <div class="content">
        <div class="container">
    <h1>Client</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ client.dateNaissance ? client.dateNaissance|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Numero de permis</th>
                <td>{{ client.numeroPermis }}</td>
            </tr>
        </tbody>
    </table>

            <button class="button bounce"><a href="{{ path('voiture_indexAction') }}">back to list</a></button>

            <button><a href="{{ path('client_edit', {'id': client.id}) }}">edit</a></button>
        </div>
    </div>
</div>
{% endblock %}