{% extends 'layouts/layout.html.twig' %}

{% block title %}Voiture indexAction{% endblock %}

{% block content %}
<div class="fixMenu">
    <div class="content">
        <div class="container">
        <h1>Voiture Disponible</h1>

            <table class="table">
        <thead>
        <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Numero de serie</th>
            <th>Couleur</th>
            <th>Plaque d'immatriculation</th>
            <th>Kilometre</th>
            <th>Disponible</th>
            {% if( app.user) %}
                {% if app.user.isAdmin == true %}
                <th>actions</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.numeroDeSerie }}</td>
                <td>{{ voiture.couleur }}</td>
                <td>{{ voiture.plaqueImmatriculation }}</td>
                <td>{{ voiture.kilometre }}</td>
                <td>{{ voiture.disponible ? 'Yes' : 'No' }}</td>
                {% if app.user %}
                    {% if( app.user.isAdmin == true ) %}
                <td>
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}">show</a>
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
                </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if app.user %}
            {% if(app.user.isAdmin == true) %}
            <button><a href="{{ path('voiture_new') }}">Create new</a></button>
            {% endif %}
        {% endif %}
        </div>
    </div>

</div>
{% endblock %}