{% extends 'layouts/layout.html.twig' %}

{% block content %}
    {% block body %}
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container">
    <div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Numero_de_serie</th>
                <th>Couleur</th>
                <th>Plaque_immatriculation</th>
                <th>Kilometre</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>

                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.numeroDeSerie }}</td>
                <td>{{ voiture.couleur }}</td>
                <td>{{ voiture.plaqueImmatriculation }}</td>
                <td>{{ voiture.kilometre }}</td>
                <td>{{ voiture.disponible ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="list-group-item text-right">show</a>
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="list-group-item text-right">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="list-group-item text-right">
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voiture_new') }}" class="list-group-item text-right">Create new</a>
    </div>
</div>
    {% endblock %}
{% endblock %}