{% extends 'layouts/layout.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block content %}
<div class="fixMenu">
    <h1>Voiture</h1>
    <div class="content">
        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
                <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
                <tr>
                <th>Numero_de_serie</th>
                <td>{{ voiture.numeroDeSerie }}</td>
            </tr>
                <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
                <tr>
                <th>Plaque_immatriculation</th>
                <td>{{ voiture.plaqueImmatriculation }}</td>
            </tr>
                <tr>
                <th>Kilometre</th>
                <td>{{ voiture.kilometre }}</td>
            </tr>
                <tr>
                <th>Disponible</th>
                <td>{{ voiture.disponible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

            <button><a href="{{ path('voiture_index') }}">Liste de Voiture</a></button>

            <button><a href="{{ path('voiture_edit', {'id': voiture.id}) }}">Modifié</a></button>

    {{ include('voiture/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}