{% extends 'layouts/layout.html.twig' %}

{% block title %}Hello {% endblock %}

{% block content %}
<div class="fixMenu">
    <div class="content">
        <div class="container">
        <table class="table table-success">
        <thead>
        <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Numero de serie</th>
            <th>Couleur</th>
            <th>Plaque d'immatriculation</th>
            <th>Kilometre</th>
            <th>Disponible</th>
        </tr>
        </thead>
        <tbody>
        {% for scooter in scooters %}
            <tr>
                <td>{{ scooter.marque }}</td>
                <td>{{ scooter.modele }}</td>
                <td>{{ scooter.numeroDeSerie }}</td>
                <td>{{ scooter.couleur }}</td>
                <td>{{ scooter.plaqueImmatriculation }}</td>
                <td>{{ scooter.kilometre }}</td>
                <td>{{ scooter.disponible ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('voiture_show', {'id': scooter.id}) }}">show</a>
                    <a href="{{ path('voiture_edit', {'id': scooter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}
